<form action = "/meetups/new" method = "post">
<h1> Tell us about your Meetup!</h1>

<div class="field">
  <label for="name">Name of your Meetup: </label>
  <input type = "text" name="meetup[name]" id="name" />
</div>

<div class= "field">
  <label for "description">Description: </label>
  <input type = "text" name="meetup[description]" id="description"/>
</div>

<div class = "field">
  <label for "location">Location: </label>
  <input type = "text" name="meetup[location]"id="location"/>
</div>

<input type = "submit"/>
</form>
