<h1> <%= @meetup.name %> </h1>
<h3>What is it?</h3>
<p> <%=@meetup.description%></p>
<h3> Where?</h3>
<p><%= @meetup.location%></p>

<h3> Interested in joining the fun? Click here! </h3>
<form action="" method="post">
    <button name="join" value="join">Join us</button>
<form>
